@charset "UTF-8";
@import "_variable.scss"; //변수
@import "_mixin.scss"; //믹스인
@import url(./_rest.css); //리셋
@import "_font.scss"; //폰트
@import "_hdnft.scss"; //해더&푸터


/* 공통 */
html {
  @include desktop {
    font-size: 18px;
  }
  @include laptop() {
    font-size: 16px;
  }
  @include tablet() {
    font-size: 14px;
  }
  @include mobile() {
    
  }
  .container {
    @include laptop {
      width: 90%;
      margin: 0 auto;
    }
  }
}
.container {
  width: 960px;
  margin: 0 auto;
  @include tablet {
    min-width: 320px;
  }
}

/* visual 영역 */
.visual {
  .container {
    position: relative;
   
  }
  .img {
    width: 39rem;
    height: 23.8rem;
    margin: 9rem auto 0;
    box-shadow: 10px 10px 30px rgba( $black, 0.2), -10px -10px 30px rgba( $black, 0.1);
    background-color: $grayD9;;
    &:after {
      content:"";
      @include position(left, 0, top, 100%, 20);
      width: 100%;
      height: 50px;
      background: #fff;
    }
    @include tablet {
      width: 90%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
    }
    @include mobile {
     

    }
    img {
      width: 100%;
      @include tablet {
        img {
          @include position(left, 0, top, 0, 20);
          width: 100%;
          height: 100%;
        }
      }
    }
   
  }
  .deco {
    font-size: 3.2rem;
    font-style: italic;
    color: $grayE9;
    h2 {
      @include position(left, 0, top, -45px, -1);
      font-family: "Do Hyeon", sans-serif;
      &:before {
        content:"#";
        display: inline-block;
      }
    }
    p {
      @include position(right, 0, bottom, -2rem, 20);
      font-weight: 900;
    }
    &:after {
      content:"이렇게 작업했어요 - ";
      @include position(left, 60%, bottom, 110%, 20);
      @include point-tit(5px);
      font-style: normal;
      @include mobile {
        left: 50%;
      }
    }
  }
}

/* info 영역 */
.info {
  position: relative;
  z-index: 30;
  padding-top: 2.5rem;
  .tit {
    p {
      @include point-tit;
      padding: 0.4rem 0 ;
    }
    h3 {
      @include title;
    }
  }
  .info-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap:1rem;
    margin: 3.75rem 0;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    >li {
      &:nth-child(1){
        grid-column: 1/4;
      }
      &:nth-child(2){
        grid-column:1;
        grid-row: 2/4;
        @include mobile {
          grid-row: 2/5;
        }
      }
      &:nth-child(4){
        @include mobile {
          grid-column:2;
          grid-row: 4;
        }
      }
      &:nth-child(5){
        grid-column:2;
        grid-row: 3;
        @include mobile {
          
        }
      }
      p {
        font-weight: 600;
        padding: 0.5rem 0;
      }
      .cont{
        font-size: 0.9rem;
        font-weight: 300;
        color: $gray9B;
      }
      &.skills {
        position: relative;
        &:before {
          display: none;
          content:"항목을 클릭하면 해당리스트로 이동합니다.";
          @include position(left, 100, bottom, 100%, 20);
          width: 100%;
          height: auto;
          background: #fff;
          border: 1px solid #ECEFF1;
          border-radius: 10px;
          padding: 1rem;
          color: $gray9B;
        }
        li {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .skills-detail {
    border-top: 1px solid $grayE9;
    //padding: 1.875rem 0;
    .detail-list {
      >li {
        padding: 3rem 0;
        border-bottom: 1px solid $grayE9;
        h4 {
          font-size: 24px;
          font-weight: 900;
          display: inline-block;
          position: relative;
          &:before {
            content:"";
            @include position(left, 0, top, 0, -1);
            width: 0;
            height: 100%;
            background: #FFE55F;
            transition: all 0.8s;
          }
          &.on:before {
            width: 100%;
          }
        }
        .desc {
          padding: 20px 0;
          font-size: 0.9rem;
          color: $gray9B;
          font-weight: 300;
          p {
            font-size: 0.9rem;
            padding: 20px 0 0;
          }
          a {
            font-size: 0.8rem;
            color: $grayAb;
            font-style: italic;
            text-decoration: underline;
            transition: all 0.3s;
            &:hover {
              color: $gray39;
            }
            &:before {
              content:"";
              display: inline-block;
              vertical-align: middle;
              margin-top: -2px;
              margin-right: 5px;
              @include background("icon-link.png", 0.8rem,1rem);
            }
            
          }
        }
        .cont{
        /*split / dynamic image resizing / easy layout splitter resizer  */
        background: #ECEFF1;
        margin: 30px 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/* scroll-top */
.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 99;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background: $yellowF9;
  cursor: pointer;
}


/* footer 영역 */



/* 스크롤바 영역 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background:#eee;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border: thin solid #D9D9D9;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}    