/* 변수 */
//color 
$black : #1f1f1f;
$black59 : #595959;
$white : #fff;

$blue11 : #11244F;
$blue2C : #2c97fa;
$blueA6 : #a6d4fe;
$blueEA : #eaf1f6;

$grayA3 : #a3a3a3;
$grayB7 : #b7b7b7;
$grayD7 : #d7d7d7;
$grayE9 : #E9E9E9;
$yellowFE : #feffd1;









$grayAb: #ABABAB;
$grayD9 : #D9D9D9;
$gray39: #393939;
$grayE9: #E9E9E9;
$gray9B: #9B9B9B;
$yellowF9 : #f9eeda;
$red:#dd3915;







// Break Point
$mobile: 480px;
$tablet: 768px;
$laptop: 1020px;
$desktop: 1400px;