@charset "utf-8";
/*

  brand-info.html 제품정보 CSS
  brand-pharmacy.html  판매약국 찾기 CSS
  brand-faq.html 제품 FAQ CSS

*/
/* detail-info */
/* detail-view */
#detail-view h3 {
    margin: 20px 0;
}
.prdt-wrap {
    display: flex;
}
.prdt-img {
    width: 50%;
}
.prdt-txt {
    width: 50%;
    padding-left: 20px;
}
.main-view {
    border: 1px solid #c6c6c6;
    min-height: 500px;
    position: relative;
}
.main-view img {
    width: 70%;
    max-height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.prdt-thumb {
    width: 100%;
    overflow-x: auto;
}
.prdt-thumb-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: initial;
}
.prdt-thumb-list li {
    position: relative;
    display: block;
    min-width: 120px;
    min-height: 120px;
    border: 1px solid #c6c6c6;
    margin-right: 20px;
    box-sizing: border-box;
}
.prdt-thumb-list img {
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.prdt-tit {
    font-size: 32px;
}
.info_table {
    border-top: 2px solid #232323;
    margin-top: 40px;
    border-collapse: collapse;
}
caption {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.info_table tr {
    border-bottom: 1px solid #eeeeee;
}
.info_table th {
    width: 20%;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}
.info_table td {
    width: 80%;
    padding: 20px;
    color: #8b8b8b;
}
.bottom-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.detail-link {
    display: block;
    padding: 10px 40px 10px 20px;
    background-color: #232323;
    color: #f8f8f8;
    font-size: 14px;
    position: relative;
    opacity: 0.9;
    transition: all 0.2s ease;
}
.detail-link:hover {
    opacity: 1;
}
.detail-link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../image/diagonal-w.png") no-repeat;
    background-size: 100%;
}
.sns {
    display: flex;
    font-size: 0;
}
.sns li {
    width: 40px;
    height: 40px;
    border: 1px solid #c6c6c6;
    margin-left: -1px;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.sns li:nth-child(1) {
    background: url("../image/printer.png") no-repeat center;
    background-size: 50%;
}
.sns li:nth-child(2) {
    background: url("../image/facebook_b.png") no-repeat center;
}
.sns li:nth-child(3) {
    background: url("../image/twitter-2.png") no-repeat center;
}
.sns li:hover {
    opacity: 1;
}
.sns li a {
    display: block;
    width: 100%;
    height: 100%;
}
.prdt-detail {
    margin-top: 60px;
}
.prdt-detail p {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}
.detail {
    border-top: 2px solid #232323;
    border-bottom: 2px solid #eeeeee;
    padding: 20px;
}
.detail dl {
    margin-bottom: 40px;
}
.detail dt {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}
.detail dd {
    color: #8b8b8b;
}

/* product-pharmacy */

#product-pharmacy .tit-area {
    color: #232323;
}
.search-result {
    display: none;
    margin-top: 80px;
}
.search-result.on {
    display: block;
}
.result-txt {
    font-size: 16px;
    margin-bottom: 20px;
}

/* product-faq */
#product-faq {
  padding-bottom: 0px;
}
#product-faq .content {
 
    width: 100%;
    margin-top: 40px;
    font-size: 0;
}
#product-faq input {
  display: none;
}
#product-faq label {
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #c6c6c6;
  border-right:0;
  text-align: center;
  color: #bbb;
  box-sizing: border-box;
}
#product-faq label:last-of-type {
  border-right:1px solid #c6c6c6;
}
#product-faq label:hover {
  cursor: pointer;
}
#product-faq input:checked + label {
  background-color: #00a0c9;
  color: #f8f8f8;
  font-weight: 700;
}
.tab-content input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #00a0c9;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.tab-content2 {
  position: relative;
  width: 100%;
  background: #f8f8f8;
  padding: 40px;
  text-align: left;
  box-sizing: border-box;
}
.tab-content2 h4 {
  font-size: 32px;
}
.tab-img {
  display: block;
  margin-left: auto;
}

.tab-content, .tab-content2 {
  display: none;
  margin-top: 20px;
}
.tab-content.on, .tab-content2.on {
  display: block;
}
