@charset "utf-8";
/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
/* a 링크 초기화 */
a {
  color: inherit;
  text-decoration: none;
}
/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
    font-size: 18px; 
    line-height: 1.5;
}
/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}
/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}
/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}
em,
b {
  font-weight: 900;
}
/* 테이블 */
table {
  padding: 0;
  border-spacing: 0px;
  border: 0;
  border-collapse: collapse;
}
th,
td {
  padding: 0px;
}
/* 버튼 초기화 */
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  text-align: left;
  color: #232323;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  color: inherit;
}

/* 글씨 숨기기 */
.hidden {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 기본 */
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #232323;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  width: 100%;
}
#wrap {
  width: 100%;
  min-width:1400px;
}
.container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

/* sub common  공통 부분*/

#contents h3 {
  font-size: 52px;
  font-weight: 700;
}
#contents h4 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3;
}
#contents.common h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 40px 0;
}
#contents.common section {
  margin-bottom: 100px;
}
#contents.common section:last-child {
  margin-bottom: 0;
}
#contents b {
  font-weight: 700;
}
article {
  padding: 130px 0;
  font-weight: 400;
}
article:last-child {
  margin-bottom: 60px;
}

.content {
  width: 90%;
  margin:0 auto;
  margin-top: 80px;
}
.sub-tit-b {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
}
.sub-title {
  display: block;
  margin: 20px 0;
  font-size: 32px;
  line-height: 1.2;
}

.lnb {
  position: absolute;
  margin-top: 30px;
  margin-left: -150px;
  width: 150px;
  overflow: hidden;
  z-index: 1;
}
.lnb.affix {
  position: fixed;
  top: 120px;
  margin-left: -170px;
}
.lnb li {
  padding: 4px 0;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}
.lnb li a {
  display: block;
  position: relative;
}
.lnb li a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-left: 5px;
  width: 0%;
  height: 1px;
  background-color: #232323;
  transition: all 0.3s ease;
}
.lnb li.on a {
  color:#232323;
  font-weight: 500;
}
.lnb li.on a::after {
 width: 100%;
 
}
.lnb a {
  display: inline-block;
}







/* skip-nav */
.skip-nav {
  position: absolute;
  z-index: 100;
}
.skip-nav a {
  position: absolute;
  top: -30px;
  left: 0;
  display: block;
  width: 150px;
  color: #fff;
  height: 30px;
  text-align: center;
  background: #115aa3;
}
.skip-nav a:focus,
.skip-nav a:active {
  top: 0;
}
.load-more {
  display: none;
  width: 100%;
  height: 52px;
  text-align: center;
  line-height: 52px;
  border: 1px solid #c6c6c6;
  color: #8d8d8d;
  margin: 20px 0;
}
.load-more.on {
  display: block;
}





/* visual */
.visual {
    width: 100%;
    height: 480px;
    color:#f8f8f8;
    
}
.visual h2 {
    font-size: 52px;
    font-weight: 900;
    padding-top: 240px;
}
.visual p {
    font-size: 18px;
    line-height: 1.8;
}
.visual.company {
  background: url(../image/sub-visual1.png) no-repeat center / cover;
}
.visual.product {
  background: url(../image/sub-visual2.png) no-repeat center / cover;
}
.visual.rnd {
  background: url(../image/sub-visual3.png) no-repeat center / cover;
}
.visual.management {
  background: url(../image/sub-visual4.png) no-repeat center / cover;
}
.visual.promotion {
  background: url(../image/sub-visual5.png) no-repeat center / cover;
}
.visual.recruiter {
  background: url(../image/sub-visual6.png) no-repeat center / cover;
}
.visual.service {
  background: url(../image/sub-visual7.png) no-repeat center / cover;
}

/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

header .top-hd {
  background: rgba(255, 255, 255, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
  font-size: 13px;
}
header .top-hd .container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
header .top-hd ul {
  display: flex;
}
header .top-hd ul li {
  padding-right: 16px;
}
header .top-hd ul li:last-child {
  padding-right: 0;
}
header .top-hd a,
header .hd a {
  color: #f8f8f8;
}
header .family-site a {
  position: relative;
  opacity: 0.3;
}
header .family-site a:hover {
  opacity: 0.8;
}
header .family-site a.active {
  opacity: 1;
}
header .family-site a.active::after {
  content: "";
  position: absolute;
  top: -5px;
  left: auto;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f8f8f8;
}
header .lang-set {
  position: relative;
}
header .lang-set li {
  padding: 10px 16px;
}
header .lang-set .lang {
  position: absolute;
  top: 18px;
  right: 0;
  background: #f8f8f8;
  border: 1px solid #8d8d8d;
  display: none;
  z-index: 5;
}
header .lang-set.on .lang {
  display: block;
}
header .lang-set.on .btn-lang::after {
  transform: rotate(180deg);
}

header .btn-lang {
  color: #f8f8f8;
  font-size: 14px;
}
header .btn-lang::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  border: solid;
  border-width: 5px 4px 0 4px;
  border-color: #f8f8f8 transparent transparent transparent;
}
header .lang a {
  color: #c6c6c6;
}
header .lang a.active {
  color: #232323;
}
header .lang a:hover {
  color: #232323;
}

header .hd {
  position: relative;
  height: 72px;
}
header .hd::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -4;
  top: 0;
  width: 100%;
  height: 0px;
  background: #f8f8f8;
  transition: all 0.2s ease;
}

header .hd .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo a,
header .all-logo {
  display: block;
  width: 120px;
  height: 22px;
  background: url(../image/logo-w.png) no-repeat;
  transition: all 0.2s ease;
}
header nav {
  display: flex;
  align-items: center;
}
header .menu {
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden;
}
header.over .menu {
  overflow: visible;
}
header .menu > li {
  font-size: 18px;
  position: relative;
}
header .menu > li:nth-child(1) > a,
header .menu > li:nth-child(4) > a {
  padding: 0 40px;
}
header .menu > li > a {
  position: relative;
  display: block;
  height: 100%;
  line-height: 72px;
  padding: 0 25px;
}
header .menu > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  background: #019ac3;
  transition: all 0.3s;
}
header .menu > li:hover a::after {
  width: 100%;
  left: 0;
}
header .menu > li .depth {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 0px;
  text-align: center;
}

header .menu > li .depth a {
  color: #8b8b8b;
  padding: 8px 0;
  display: block;
  font-size: 14px;
  transition: all 0.2s ease;
}
header .depth-bg {
  display: none;
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 3;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  top: 100%;
}
header .hidden-menu {
  display: none;
}
header .hd-right,
header .hd-right ul {
  display: flex;
  align-items: center;
}
header .hd-right li {
  padding-left: 16px;
}
header .mall-btn:hover,
header.affix .mall-btn:hover {
  background: #02acce;
  color: #f8f8f8;
  border: 1px solid #02acce;
}

header .mall-btn {
  border: 1px solid #f8f8f8;
  padding: 10px 16px;
  border-radius: 35px;
  transition: all 0.2s ease;
  font-size: 13px;
}

header .hamburger {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../image/menu-2.png) no-repeat center;
  transition: all 0.2s ease;
}

/* header on, over */
header.over .top-hd,
header.affix .top-hd {
  background: #f8f8f8;
  border-bottom: 1px solid #eeeeee;
  transition: all 0.2s ease;
}
header.over .family-site a.active::after,
header.affix .family-site a.active::after {
  background-color: #2b9fca;
}
header.over .top-hd a,
header.over .hd a,
header.over .btn-lang,
header.affix .top-hd a,
header.affix .hd a,
header.affix .btn-lang,
header.affix .lang a.active {
  color: #232323;
}
header.affix .lang a {
  color: #c6c6c6;
}
header.over .btn-lang::after,
header.affix .btn-lang::after {
  border-color: #232323 transparent transparent transparent;
}
header.over .hd::after,
header.affix .hd::after {
  height: 77px;
  border-bottom: 1px solid #eeeeee;
}
header.over .logo a,
header.affix .logo a {
  background: url(../image/logo-b.png) no-repeat;
}
header.over .mall-btn,
header.affix .mall-btn {
  border: 1px solid #8b8b8b;
}
header.over .hamburger,
header.affix .hamburger {
  background: url(../image/menu.png) no-repeat center;
}
header.over .depth {
  display: block;
}
header.over .depth a:hover {
  color: #019ac3;
}
header.over .depth-bg {
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/* header all-menu */
.all-menu {
  display: none;
  position: fixed;
  z-index: 6;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.all-menu::after {
  content: "";
  border-radius: 20px;
  width: calc(100% - 100px);
  height: calc(100vh - 60px);
  position: absolute;
  background: #f8f8f8;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.9s ease;
}
.all-menu.on::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.all-menu::before {
  content: "";
  position: absolute;
  /* z-index: -1; */
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 584px;
  height: 584px;
  background: url(../image/symbol.jpg) no-repeat center;
  background-size: contain;
  opacity: 0.03;
  transition: all 0.9s ease;
}
.all-menu.on::before {
  top: 50%;
}
.all-menu .container {
  padding: 70px 0;
}
.all-hd {
  display: flex;
  justify-content: space-between;
}
.all-logo {
  background: url(../image/logo-b.png) no-repeat;
}
.all-control,
.all-control ul {
  display: flex;
  align-items: center;
}
.all-control ul li:first-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
  width: 1px;
  height: 8px;
  background: #8b8b8b;
}
.all-close {
  width: 18px;
  height: 18px;
  background: url(../image/close.png) no-repeat center;
  background-size: 100%;
  margin-left: 80px;
  transition: all 1s ease;
  opacity: 0;
}
.all-menu.on .all-close {
  opacity: 1;
}
.all-layout {
  display: flex;
  padding-top: 60px;
}
.layout:nth-child(1) {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layout:nth-child(2) {
  flex: 0.6;
}
.all-gnb {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: stretch;
}
.all-gnb > li {
  width: 25%;
  flex: 0 0 auto;
  padding-bottom: 30px;
}
.all-tit {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  display: block;
}
.all-depth a {
  display: block;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: -0.8px;
}

.all-ft-link {
  display: inline-flex;
  margin-bottom: 16px;
}
.all-ft-link li {
  margin-right: 16px;
}
.all-ft-link a {
  color: #8b8b8b;
}
.all-info {
  display: flex;
}
.all-info li {
  margin-right: 20px;
}
.all-info-title {
  font-size: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
.all-info-text {
  line-height: 1.8;
}
.all-mall-btn {
  border: 1px solid #8d8d8d;
  padding: 14px 20px;
  border-radius: 35px;
  transition: all 0.2s ease;
  /* padding-right: 36px; */
  margin-top: 30px;
  display: block;
  text-align: center;
}
.all-mall-btn::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: url(../image/diagonal.png) no-repeat center;
  background-size: 100%;
}

/* footer */
footer {
  background: #232323;
  color: #eeeeee;
  font-size: 16px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.ft-nav {
  display: flex;
  margin-bottom: 90px;
}
.ft-nav li {
  margin-right: 20px;
}
.ft-logo a {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 22px;
  background: url(../image/logo-w.png) no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.ft-address span {
  margin-right: 16px;
}
.site-link {
  display: flex;
  margin-top: 40px;
}
.site {
  width: 200px;
  height: 43px;
  margin-right: 25px;
  position: relative;
}
/* .f-brand {
    position: relative;
  } */
.site button {
  width: 100%;
  height: 100%;
  border: 1px solid #666666;
  border-radius: 5px;
  color: #eee;
  font-size: 16px;
  text-align: left;
  padding: 0 16px;
}
.site button.on {
  border-radius: 0 0 5px 5px;
}
.site button::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 10px;
  border: solid;
  border-width: 5px 4px 0 4px;
  border-color: #f8f8f8 transparent transparent transparent;
  transition: all 0.1s ease;
}
.site button.on::after {
  top: 40%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}

.f-site {
  display: none;
  width: calc(100% - 2px);
  height: 0;
  position: absolute;
  bottom: calc(100% - 1px);
  background: #232323;
  border: 1px solid #666666;
  overflow-y: auto;
  transition: all 0.4s ease;
  border-radius: 5px 5px 0 0;
}
.f-site.on {
  display: block;
  height: 256px;
  max-height: 256px;
}
.f-site p {
  font-size: 14px;
  color: #888;
  padding: 5px 16px;
}
.f-site a {
  display: block;
  font-size: 15px;
  padding: 14px;
  transition: all 0.2s ease;
}
.f-site a:hover {
  color: #232323;
  background: #f8f8f8;
}
.f-site.on {
  display: block;
}
.f-site::-webkit-scrollbar {
  width: 5px;
}
.f-site::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f8f8f8; /*스크롤바의 색상*/
  border: 2px solid transparent;
}
.f-site::-webkit-scrollbar-track {
  background-color: #232323; /*스크롤바 트랙 색상*/
}
.ft-service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sns-link {
  display: flex;
  justify-content: space-between;
}
.sns-link li a {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: url(../image/sns-instagram.png) no-repeat center #151515;
  background-size: 50%;
  transition: all 0.2s ease-in-out;
}
.sns-link li:nth-child(2) a {
  background: url(../image/sns-n.png) no-repeat center #151515;
  background-size: 40%;
}
.sns-link li:nth-child(3) a {
  background: url(../image/sns-facebook.png) no-repeat center #151515;
}
.sns-link li:nth-child(4) a {
  background: url(../image/sns-youtube.png) no-repeat center #151515;
}
.sns-link li a:hover {
  background-color: #080808;
}
.center-num {
  font-size: 30px;
  font-weight: 900;
}
/* search-pharmacy 약국 찾기  */
.search-pharmacy {
  width: 900px;
  margin: 0 auto;
}
.tit-area {
  color: #f8f8f8;
  font-size: 18px;
  padding: 0 0 20px 200px;
  position: relative;
}
.tit-area::before {
  content: "";
  display: block;
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 136px;
  height: 127px;
  background: url(../image/search1.png) no-repeat center;
  background-size: 100%;
}
.tit-area b {
  font-size: 24px;
  font-weight: 700;
}
.tit-area b span {
  color: #02acce;
}
.srch-option > ul {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 60px;
  padding: 18px;
  position: relative;
}
.srch-option select {
  border:0;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  
}
.srch-option select option {
  background: lightcoral;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
/* .srch-option>li {
    display: flex;
    padding: 0 18px;
} */
.srch-option > ul > li {
  padding: 0 15px;
  position: relative;
}
.srch-option > ul > li:nth-child(1) {
  flex: 0.16;
}
.srch-option > ul > li:nth-child(2) {
  flex: 0.16;
}
.srch-option > ul > li:nth-child(3) {
  flex: 0.16;
}
.srch-option > ul > li:nth-child(4) {
  flex: 0.5;
  position: static;
}
.srch-option > ul > li::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #e6e6e6;
}
.srch-option > ul > li:nth-child(4)::after {
  display: none;
}
.srch-option > ul > li button.focus::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 100%;
  left: 0;
  background: none;
  border: 2px solid skyblue;
  border-radius: 5px;
}

.srch-option .srch-btn {
  background: url(../image/search-2.png) no-repeat center #02acce;
  background-size: 40%;
}
.opt-btn {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}
.opt-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: solid;
  border-width: 5px 4px 0 4px;
  border-color: #232323 transparent transparent transparent;
  transition: all 0.1s ease;
}
.opt-btn:active,
.opt-btn:focus {
  font-weight: 700;
}
.srch-option > ul > li:nth-child(4) button::after {
  display: none;
}
.srch-option > ul > li input {
  width: 90%;
  color: #222;
  border: none;
  background: #f3f3f3;
  padding-left: 10px;
  font-size: 14px;
  line-height: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 0;
  border: 1px solid #ddd;
  background: #f8f8f8;
  overflow-y: auto;
  transition: all 0.4s ease;
}
.dropdown.on {
  height: 305px;
  max-height: 305px;
}
.dropdown li {
  border-bottom: 1px solid #eeeeee;
}
.dropdown li a {
  display: block;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  line-height: 1.8;
}
/* input-search 검색창 */
.input-search {
  width: 100%;
  border: 0;
  border-bottom: 6px solid #232323;
  padding: 12px 0 12px 12px;
  font-size: 18px;
}
.input-search::placeholder {
  color: #c6c6c6;
}

.srch-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../image/search.png) no-repeat center;
  background-size: 50%;
}
/*  */
.sch-keyword a {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #c6c6c6;
  border-radius: 35px;
  color: #8b8b8b;
  font-size: 16px;
  margin: 0 20px 15px 0;
  transition: all 0.2s ease;
}
.sch-keyword a:hover {
  color: #232323;
  border: 1px solid #232323;
}
/* select */
select {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #232323;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  padding: 0 16px;
  color: #8b8b8b;
  background: url(../image/downward-arrow.png) no-repeat 95% 50%;
  background-size: 14px;
  -webkit-appearance: none; /* for 크롬 화살표 없애기 */
  -moz-appearance: none; /* for 파이어폭스 화살표 없애기 */
  appearance: none; /* for 화살표 없애기 */
}
select::-ms-expand {
  display: none; /* for IE10,11 화살표 없애기 */
}
select:focus,
select:active {
  background: none;
  color: #232323;
}

.location-link {
  position: relative;
  display: flex;
  justify-content: end;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 300;
}
.location-link li {
  padding-right: 20px;
  position: relative;
}
.location-link li::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}
.location-link li:last-child {
  padding-right: 0;
}
.location-link li:last-child::after {
  display: none;
}

.point {
  color: #00a0c9;
}
.point-bg {
  display: block;
  background: #00a1cd;
  color: #f8f8f8;
  border-radius: 5px;
  padding: 0 8px;
  font-size: 16px;
}

/* modal */

.modal-wrap {
  display: block;
  position: fixed;
  z-index: 98;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
}
.modal-img img {
  display: block;
  width: 100%;
}
.modal_close {
  position: absolute;
  top: 0px;
  right: -40px;
  font-size: 30px;
  color: #f8f8f8;
  font-family: "Roboto", sans-serif;
}
.date {
  font-size: 14px;
  color: #c6c6c6;
  position: relative;
}
.date::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background: url(../image/clock.png) no-repeat;
  background-size: 100%;
}

/* others */
#others .content {
  margin-top: initial;
}
.others-wrap {
  display: flex;
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(154,160,185,.2), 0 15px 40px rgba(166,173,201,.4);
  position: relative;
}
.others-wrap::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60%;
  background: #c6c6c6;
}
.other {
  width: 50%;
  padding:  50px;
}
.other p {
  margin-bottom: 10px;
  color: #c6c6c6;
  font-size: 16px;
}
.other p.tit {
  color: #232323;
  font-weight: 500;
}
.other b {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.other:hover p:last-child {
  text-decoration: underline;
}

/*board-table*/
.board-table, .board-table2 {
  width: 100%;
  border-top: 2px solid #232323;
  box-sizing: border-box;
  color: #8b8b8b;
  margin: 20px 0;
}
.board-table thead th, .board-table2 thead th{
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;

  background: #f8f8f8;
  color: #232323;
}
.board-table tbody tr, .board-table2 tbody tr  {
  border-bottom: 1px solid #e5e5e5;
}
.board-table tbody td, .board-table2 tbody td {
  padding: 15px 10px;
  text-align: center;
}
.board-table2 thead th, .board-table2 tbody td {
  border-right:  1px solid #e5e5e5;
}
.board-table2 thead th:last-child, .board-table2 tbody td:last-child {
  border-right:  0;
}

/* 탭 -> 감사제보, 홍보센터 사용 */

.tab-nav-t {
  position: absolute;
  left: 50%;
  transform : translateX(-50%);
}
.tab-nav ul,.tab-nav-t ul{
  display: flex;
  justify-content: normal;
  margin: 40px 0;
  border-bottom: 1px solid #232323;
}
.tab-nav li,.tab-nav-t li {
  width: 20%;
  height : 70px; 
  line-height: 70px;
  text-align: center;
  background: #eee;
  color: #8d8d8d8d;
  cursor: pointer;
}
.tab-nav li.on, .tab-nav-t li.on {
  background: #232323;
  color: #f8f8f8;
}
.tab-nav-t a {
  display: block;
  width: 100%;
}

.tab-panel {
  display: none;
}
.tab-panel.on {
  display: block;
}


/*paging*/

.paging {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.paging i {
  width: 30px;
  height: 30px;
  font-size: 0;
  border: 1px solid #eee;
  margin-right: 10px;
}
.paging .first-page, .paging .last-page {
  background: url(../image/previous11.png) no-repeat 50% 50%;
  background-size: 11px;
}
.paging .prev-page, .paging .next-page {
  background: url(../image/left-arrow-2.png) no-repeat 50% 50%;
  background-size: 10px;
}
.paging .next-page {
  transform: rotate(180deg);
}
.paging .last-page {
  transform: rotate(180deg);
}
.paging .pages li {
 display: inline-block;
 cursor: pointer;
 width: 30px;
 height: 30px;
 text-align: center;
 line-height: 30px;
 font-size: 14px;
 color:#232323;
 margin-right: 10px;
}
.paging .pages li:hover {
  border-color: #232323;
}
.paging .pages li.active  {
  font-weight: 500;
  background: #232323;
  color: #f8f8f8;
}

/*list-type*/
.num-list {
  margin: 20px 0;
}
.num-list>li {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 5px;
  word-break: keep-all;
  margin-left: 20px;
  font-weight: 700;
}
.num-list2>li ul {
  position: relative;
  margin-left: 20px;
}
.dot-list>li {
  list-style: initial;
  margin-left: 20px;
  word-break: keep-all;
}
.dash-list>li {
  position: relative;
  margin-left: 20px;
}
.dash-list>li::before {
  content: "-";
  position: absolute;
  left: -20px;
}

/* accodian-box = faq-accodian */

.faq-accodian {
  border-top: 2px solid #232323;
}
.faq-accodian p {
font-size: 18px;
  background: #dff0f8;
  padding: 20px 20px 20px 60px;
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  cursor: pointer;
}
.accodian-box::before,
.faq-accodian p::before {
  content: "Q";
  color: #00a0c9;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.faq-accodian li.on .accodian-box {
  height: auto;
  padding: 20px 20px 20px 100px;
  opacity: 1;
}
.accodian-box {
font-size: 18px;
  height: 0;
  padding: 0 20px 0 100px;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  color: #8b8b8b;
  font-weight: 300;
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.accodian-box img {
  margin-top: 20px;
}
.accodian-box::before {
  content: "A";
  color: #cecece;
  left: 65px;
  top: 18px;
  transform: translateY(0);
}

/* 문의 form table */
/* 동의 */
.sub-tit {
  font-size: 22px;
}
.sub-tit span {
  color: #00a1cd;
}
.agree-box textarea {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
  padding: 20px;
  text-align: left;
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
  margin: 20px 0 10px 0;
  font-size: 16px;
  line-height: 1.5;
}
.agree-box .txt {
  text-align: right;
}
.agree-chk {
  display: block;
  text-align: right;
  font-size: 16px;
  height: 24px;
  color: #8d8d8d;
  font-weight: 400;
  margin: 20px 0;
  
}
.agree-chk input[type=radio] {
  appearance: none;
  border: 1px solid #c6c6c6;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.agree-chk input[type=radio]:checked {
  border: 5px solid #00a1cd;
}
.agree-chk label {
  margin-left: 3px;
  line-height: 24px;
}

.table-wrap {
  margin-top: 80px;
}
.board-table1 {
  width: 100%;
}
.board-table1 tbody {
  border-top: 2px solid #232323;
}
.board-table1 tr {
  border-bottom: 1px solid #e5e5e5;
}
.board-table1 th {
  background: #f8f8f8;
  padding: 15px 15px 15px 30px;
  text-align: left;
  font-weight: 400;
}
.board-table1 th span {
  color:red;
}
.board-table1 td {
  padding: 15px 30px 15px 30px;   
}
.board-table1 select {
  font-size: 14px;
}
.board-table1 input[type="text"],.board-table1 .phone-num, .board-table1 select, .board-table1 .upload-name,.board-table1 input[type="password"] {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
  padding: 0 15px; 
  color: #9d9d9d;
  border-radius: 0;
  font-size: 14px;

}
.board-table1 input[type="text"], .board-table1 select {
  width: 100%;
  max-width: 450px;
}
.board-table1 input[type="text"].phone-num  {
  width: 100px;
  max-width: 100px;
}
.board-table1 #phone {
  width: 100px;
}
.board-table1 input[type="text"].email-bx {
  max-width: 300px;
}
.board-table1 #email {
  width: 300px;
}
.board-table1 #inquiry {
  width: 450px;
}
.board-table1 #title {
  max-width: 800px;
}
.board-table1 #summernote {
  width: 100%;
  height: 300px;
  border: 1px solid #c6c6c6;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #8d8d8d;
}
col.table-col-quater {
  width: 130px;
}
.necessary {
  text-align: right;
  margin-bottom: 10px;
}
.txt {
  font-size: 16px;
  color: #8d8d8d;
}
.txt .red {
  color: red;
}
.board-table1 input[type="text"].upload-name {
  width: 250px;
}
.board-table1 #fileFiled {
  display: none;
}
.board-table1 .upload-btn {
  display: inline-block;
  border: 1px solid #c6c6c6;
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  cursor: pointer;
  line-height: 48px;
  margin: 0 10px;
}
.board-table1 input[type="checkbox"] {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border: 1px solid #c6c6c6;
  appearance: none;
  border-radius: 5px;
}
.board-table1 input[type="checkbox"]:checked {
  border:0;
  background: url(../image/check-2.png) #00a1cd 5px 7px no-repeat;
  background-size: 15px;
}
.btn-normal {
  padding: 20px 50px;
  width: initial;
  background-color: #00a1cd;
  color: #f8f8f8;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  font-size: 16px;
}
.board-list table tbody td:nth-child(2) {
  text-align: left;
  padding: 15px 50px;
}
.board-list table tr:hover td:nth-child(2) {
  text-decoration: underline;
}
/* 총게시물 */
.board-search {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 20px;
  margin-bottom: 40px;
}
.total-board p {
  position: relative;
  padding-left: 55px;
  line-height: 50px;
}
.total-board p::before {
  content:"";
  position: absolute;
  left: 0;
  top:  50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url(../image/document-2.png) #232323 center no-repeat;
  background-size: 60%;
  border-radius: 100%;
}
.board-search .right {
  display: flex;
  border-bottom: 3px solid #232323;
  position: relative;
}
.board-search .sel-d {
  width: 150px;
  border: 0;
}
.board-search input[type="text"] {
  width: 300px;
  border: 0;
  padding: 0 50px 0 20px;
  background: none;
  font-size: 16px;
}


