@charset "utf-8";
/*
    news.html 동아소식 페이지 CSS
    promotion-view.html 동아소식 게시물 페이지 CSS

*/

/* promotion */
#news-center .sub-tit-b {
  margin: 20px 0;
}
#news-center  h3 {
  font-size: 32px;
  margin: 20px 0;
}
#news-center .board-search {
  margin: 20px 0;
}
#news-center .board-list {
  margin: 40px 0;
}


.news-list {
  border-top: 1px solid #232323;
  margin: 40px 0;
}
.news-list li a {
  padding : 40px 0;
  display: flex;
  border-bottom: 1px solid #eee;
}
.news-list li:hover .sub-tit-b {
  color : #00a1cd
}
.news-list li:hover .txt {
  text-decoration: underline;
}
.news-img {
  width: 30%;
}
.news-img img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.news-txt {
  width: 70%;
  padding: 0 20px;
}
.news-txt .sub-tit-b {
  width: 850px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.news-txt .txt {
  margin-bottom: 20px;
  font-size: 16px;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.story-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.story-list li {
  width: 24%;
  margin-right: 1.3%;
  margin-bottom: 2%;
  position: relative;
}
.story-list li:nth-child(4n) {
  margin-right: 0;
}

.story-list li:hover .tit{
  text-decoration: underline;
  color:#019ac3;
}
.story-list li:hover .img::after {
  background: rgb(255, 255, 255, 0.2);
}
.story-list .cate {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 13px;
  color:#fff;
  background: #232323;
  padding: 6px 12px;
  border-radius: 35px;
  z-index: 1;
}
.story-list .img {
  margin-bottom: 6px;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.story-list .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: rgb(255, 255, 255, 0.0);
  transition: all 0.2s ease;
}
.story-list .img img {
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease;
}

.story-list .tit {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  height: 48px;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition:all 0.2s ease;
}
.cf-list {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
.cf-list li {
  width: 24%;
  margin-right: 1.3%;
  margin-bottom: 2%;
}
.cf-list li:hover .tit {
  text-decoration: underline;
}
.cf-list li:hover img {
  transform: scale(0.9);
}
.cf-list li:nth-child(4n) {
  margin-right: 0;
}
.cf-list .img {
  border-radius: 30px;
  overflow: hidden;
}
.cf-list .img img {
  display: block;
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease;
}
.cf-list .txt-box {
  margin: 20px 0;
}
.cf-list .tit {
  font-size: 18px;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.2s ease;
}
.affix-down {
  display: block;
  width: 60px;
  height: 30px;
  border: 1px solid #eee;
  margin: 0 auto;
  background: url(../image/download.png) #fff center no-repeat;
  background-size: 15px;
}
.affix-down:hover {
  background-color: #f8f8f8;
}

/* promotion-view */
.view-tit {
  padding: 40px 0;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.view-tit .tit {
  display: block;
  font-size: 32px;
  width: 1300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}
.view-cont {
  padding: 40px 20px;
  position: relative;
  width: 70%;
  word-break: keep-all;
}
.view-cont p {
  margin: 20px 0;
}
.img-are {
  margin: 40px 0;
}
.img-are .img-info {
 font-size: 14px;
 color: #8d8d8d;
}
.view-paging {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.view-paging li:nth-child(1) {
  border-bottom: 1px solid #eee;
}
.view-paging a {
  display: flex;
  padding: 20px 0;
}
.view-paging li:hover .tit {
  text-decoration: underline;
}
.view-paging b {
  width: 10%;
  padding: 0 30px;
  box-sizing: border-box;
}
.view-paging .tit {
  width: 80%;
  color:#8d8d8d;
}
.view-paging .date {
  width: 10%;
}
.view-paging .date::before {
  display: none;
}

